 body {
margin-left:10% ;
color: DodgerBlue;
}
h1,h2,h3,h4,h5,article,header,nav{
    font-family: 'Courier New', Courier, monospace;
}

.adress {
font-size: 20px;
}

.ıletısım, .urun {
   color:darkred;
}

#anasayfa {
    font-size: 20px;
    font-weight: 900;
    color:rgb(0, 0, 0);
    background-color:cornsilk;
    text-decoration: none;
}

#about {
    font-weight: 900;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background-color:cornsilk;
    text-decoration: none;
}

#products {
    font-weight: 900;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background-color:cornsilk;
    text-decoration: none;
}

#iletişim {
    font-weight: 900;
    font-size: 20px;
    color:rgb(0, 0, 0);
    background-color:cornsilk;
    text-decoration: none;
}

#os {
    margin-left:38% ;
}

p.test1 {
    writing-mode: horizontal-tb; 
  }
  
  p.test2 {
    writing-mode: vertical-rl; 
  }
  
  span.test2 {
    writing-mode: vertical-rl; 
  }